In [1]:
import os
import pandas as pd
import numpy as np
import datetime

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [10]:
engine = create_engine("sqlite:///battingStatsComplete.sqlite", echo=False)

In [3]:
standardBatting = pd.read_csv("standardBatting.csv")
advancedBatting = pd.read_csv("advancedBatting.csv")
valueBatting = pd.read_csv("valueBatting.csv")
teamsInfo = pd.read_csv("Teams.csv")
salariesInfo = pd.read_csv("Salaries.csv")
playerID = pd.read_csv("People.csv")

In [12]:
standardBatting.head()

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,playerid
0,Ty Cobb,- - -,3035,11434,13072,4189,3053,724,295,117,...,NaN,357.0,94.0,NaN,295.0,NaN,892.0,178.0,0.366,1002378
1,Ross Barnes,- - -,499,2392,2506,859,665,144,44,6,...,NaN,65.0,NaN,NaN,NaN,NaN,73.0,25.0,0.359,1000573
2,Rogers Hornsby,- - -,2259,8173,9475,2930,1919,541,169,301,...,NaN,679.0,48.0,NaN,216.0,3.0,135.0,64.0,0.358,1006030
3,Joe Jackson,- - -,1332,4981,5690,1772,1243,307,168,54,...,NaN,158.0,59.0,NaN,131.0,NaN,202.0,61.0,0.356,1006301
4,Levi Meyerle,- - -,307,1443,1453,513,386,86,31,10,...,NaN,14.0,NaN,NaN,NaN,NaN,19.0,3.0,0.356,1008830

In [13]:
advancedBatting.head()

,Name,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,...,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+,playerid
0,Babe Ruth,- - -,10616,19.4 %,12.5 %,1.55,0.342,0.474,0.690,1.164,...,5.1,0.340,NaN,NaN,-23.4,2727,1437.2,0.513,197,1011327
1,Ted Williams,Red Sox,9791,20.6 %,7.2 %,2.85,0.344,0.482,0.634,1.116,...,3.5,0.328,NaN,NaN,-1.6,2349,1219.8,0.493,188,1014040
2,Lou Gehrig,Yankees,9660,15.6 %,8.2 %,1.91,0.340,0.447,0.632,1.080,...,5.5,0.332,NaN,NaN,-27.2,2265,1046.8,0.477,173,1004598
3,Jimmie Foxx,- - -,9670,15.0 %,13.6 %,1.11,0.325,0.428,0.609,1.038,...,5.1,0.336,NaN,NaN,-18.6,2136,934.2,0.460,158,1004285
4,Rogers Hornsby,- - -,9475,11.0 %,7.2 %,1.53,0.358,0.434,0.577,1.010,...,5.6,0.365,NaN,NaN,-1.8,2018,899.0,0.459,173,1006030

In [14]:
valueBatting.head()

,Name,Team,Batting,Base Running,Fielding,Positional,Offense,Defense,League,Replacement,RAR,WAR,Dollars,playerid
0,Babe Ruth,- - -,1370.8,-23.4,79.0,-97.6,1347.3,-18.6,47.9,325.2,1701.9,168.4,NaN,1011327
1,Barry Bonds,- - -,1143.4,30.4,189.6,-122.0,1173.8,67.6,28.1,384.4,1653.9,164.4,$164.7,1109
2,Willie Mays,- - -,804.6,32.9,185.0,-14.9,837.5,170.1,42.1,357.5,1407.2,149.9,NaN,1008315
3,Ty Cobb,- - -,975.4,60.6,0.0,-90.0,1036.0,-90.0,47.9,377.1,1371.0,149.3,NaN,1002378
4,Honus Wagner,- - -,647.8,56.9,85.0,99.4,704.7,184.4,50.0,346.5,1285.6,138.1,NaN,1013485

In [15]:
standardBatting_DF = pd.DataFrame(standardBatting)
advancedBatting_DF = pd.DataFrame(advancedBatting)
valueBatting_DF = pd.DataFrame(valueBatting)

In [18]:
first_merge = pd.merge(standardBatting_DF, advancedBatting_DF, on="Name")
first_merge.head()

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+,playerid_y
0,Ty Cobb,- - -,3035,11434,13072,4189,3053,724,295,117,...,7.5,0.378,NaN,NaN,60.6,2534,1093.8,0.445,165,1002378
1,Ross Barnes,- - -,499,2392,2506,859,665,144,44,6,...,7.4,0.368,NaN,NaN,0.6,658,231.9,0.388,148,1000573
2,Rogers Hornsby,- - -,2259,8173,9475,2930,1919,541,169,301,...,5.6,0.365,NaN,NaN,-1.8,2018,899.0,0.459,173,1006030
3,Joe Jackson,- - -,1332,4981,5690,1772,1243,307,168,54,...,6.5,0.351,NaN,NaN,-10.6,1090,480.3,0.443,165,1006301
4,Levi Meyerle,- - -,307,1443,1453,513,386,86,31,10,...,7.0,0.357,NaN,NaN,4.1,381,119.9,0.376,139,1008830

In [19]:
second_merge = pd.merge(first_merge, valueBatting_DF, on="Name")
second_merge.head()

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,Fielding,Positional,Offense,Defense,League,Replacement,RAR,WAR,Dollars,playerid
0,Ty Cobb,- - -,3035,11434,13072,4189,3053,724,295,117,...,0.0,-90.0,1036.0,-90.0,47.9,377.1,1371.0,149.3,NaN,1002378
1,Ross Barnes,- - -,499,2392,2506,859,665,144,44,6,...,57.0,15.4,221.0,72.4,9.8,96.9,400.0,30.4,NaN,1000573
2,Rogers Hornsby,- - -,2259,8173,9475,2930,1919,541,169,301,...,54.0,72.5,862.1,126.5,23.5,284.8,1296.9,130.3,NaN,1006030
3,Joe Jackson,- - -,1332,4981,5690,1772,1243,307,168,54,...,11.0,-60.1,418.6,-49.1,24.4,161.1,555.0,60.5,NaN,1006301
4,Levi Meyerle,- - -,307,1443,1453,513,386,86,31,10,...,-24.0,5.3,111.7,-18.7,6.0,58.4,157.4,10.1,NaN,1008830

In [25]:
second_merge.columns

Index(['Name', 'Team_x', 'G', 'AB', 'PA_x', 'H', '1B', '2B', '3B', 'HR', 'R',
       'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'AVG_x',
       'playerid_x', 'Team_y', 'PA_y', 'BB%', 'K%', 'BB/K', 'AVG_y', 'OBP',
       'SLG', 'OPS', 'ISO', 'Spd', 'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC',
       'wRAA', 'wOBA', 'wRC+', 'playerid_y', 'Team', 'Batting', 'Base Running',
       'Fielding', 'Positional', 'Offense', 'Defense', 'League', 'Replacement',
       'RAR', 'WAR', 'Dollars', 'playerid'],
      dtype='object')

In [35]:
second_merge_reduced = second_merge.loc[:,['Name', 'Team_x', 'G', 'AB', 'PA_x', 'H', '1B', '2B', '3B', 'HR', 'R',
       'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'AVG_x','BB%', 'K%', 'BB/K', 'OBP',
       'SLG', 'OPS', 'ISO', 'Spd', 'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC','wRAA', 'wOBA', 'wRC+', 'Team', 'Batting', 
       'Base Running', 'Fielding', 'Positional', 'Offense', 'Defense', 'League', 'Replacement', 'RAR', 'WAR', 
       'Dollars', 'playerid']]

second_merge_reduced.sample(10)

,Name,Team_x,G,AB,PA_x,H,1B,2B,3B,HR,...,Fielding,Positional,Offense,Defense,League,Replacement,RAR,WAR,Dollars,playerid
1362,Chris Shelton,- - -,299,930,1044,254,164,46,7,37,...,4.2,-19.6,13.2,-15.4,3.5,32.2,33.5,3.3,$16.4,1891
3879,Fred Smith,- - -,438,1422,1607,321,249,39,25,8,...,-13.0,17.2,-39.7,4.2,3.1,44.8,12.4,1.6,NaN,1012141
2204,Chris Gwynn,- - -,599,1007,1100,263,199,36,11,17,...,-12.0,-9.0,-22.1,-21.0,2.6,33.0,-7.4,-0.7,NaN,1005165
3790,Dick Schofield,- - -,1368,4299,4928,989,764,137,32,56,...,19.0,40.0,-99.7,59.0,13.5,99.8,72.6,7.9,NaN,1011601
2323,Bill Rigney,Giants,654,1966,2214,510,377,78,14,41,...,-6.0,19.4,-20.1,13.4,5.3,65.3,64.0,6.6,NaN,1010960
1733,Russ Nixon,- - -,906,2504,2714,670,509,115,19,27,...,-36.0,37.8,-65.6,1.8,-0.6,77.7,13.4,1.6,NaN,1009609
3443,Lennie Merullo,Cubs,639,2071,2264,497,391,92,8,6,...,-13.0,37.1,-75.9,24.1,3.8,63.6,15.6,1.9,NaN,1008796
257,Ben Chapman,- - -,1717,6478,7420,1958,1354,407,107,90,...,50.0,-43.2,151.9,6.8,39.4,231.8,429.9,41.3,NaN,1002141
2100,Steve O'Neill,- - -,1590,4795,5560,1259,964,248,34,13,...,11.0,47.3,-63.9,58.3,21.8,161.2,177.4,18.4,NaN,1009820
2396,Lou Johnson,- - -,676,2049,2251,529,370,97,14,48,...,8.0,-27.5,9.8,-19.5,8.6,61.9,60.7,6.8,NaN,1006484

In [28]:
second_merge_reduced.columns

Index(['Name', 'Team_x', 'G', 'AB', 'PA_x', 'H', '1B', '2B', '3B', 'HR', 'R',
       'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'AVG_x',
       'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'Spd', 'BABIP', 'UBR',
       'wGDP', 'wSB', 'wRC', 'wRAA', 'wOBA', 'wRC+', 'Team', 'Batting',
       'Base Running', 'Fielding', 'Positional', 'Offense', 'Defense',
       'League', 'Replacement', 'RAR', 'WAR', 'Dollars', 'playerid'],
      dtype='object')

In [29]:
second_merge_reduced.rename(columns={"Team_x": "Team", "PA_x": "PA", "AVG_x": "AVG"}, inplace=True)
second_merge_reduced

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,Fielding,Positional,Offense,Defense,League,Replacement,RAR,WAR,Dollars,playerid
0,Ty Cobb,- - -,3035,11434,13072,4189,3053,724,295,117,...,0.0,-90.0,1036.0,-90.0,47.9,377.1,1371.0,149.3,NaN,1002378
1,Ross Barnes,- - -,499,2392,2506,859,665,144,44,6,...,57.0,15.4,221.0,72.4,9.8,96.9,400.0,30.4,NaN,1000573
2,Rogers Hornsby,- - -,2259,8173,9475,2930,1919,541,169,301,...,54.0,72.5,862.1,126.5,23.5,284.8,1296.9,130.3,NaN,1006030
3,Joe Jackson,- - -,1332,4981,5690,1772,1243,307,168,54,...,11.0,-60.1,418.6,-49.1,24.4,161.1,555.0,60.5,NaN,1006301
4,Levi Meyerle,- - -,307,1443,1453,513,386,86,31,10,...,-24.0,5.3,111.7,-18.7,6.0,58.4,157.4,10.1,NaN,1008830
5,Lefty O'Doul,- - -,970,3264,3659,1140,811,175,41,113,...,-15.0,-34.7,217.2,-49.7,4.8,115.8,288.2,27.0,NaN,1009734
6,Ed Delahanty,- - -,1835,7505,8389,2596,1788,522,185,101,...,20.0,-73.4,574.2,-53.4,46.1,297.0,863.9,73.7,NaN,1003155
7,Cal McVey,- - -,530,2513,2543,869,682,132,44,11,...,-5.0,1.9,171.5,-3.1,8.2,96.9,273.5,20.6,NaN,1008696
8,Tris Speaker,- - -,2789,10195,11988,3514,2383,792,222,117,...,92.0,-67.6,815.2,24.4,46.2,349.0,1234.8,130.6,NaN,1012309
9,Ted Williams,Red Sox,2292,7706,9791,2654,1537,525,71,521,...,-29.0,-96.1,1064.5,-125.1,34.2,289.7,1263.2,130.4,NaN,1014040
10,Billy Hamilton,- - -,1591,6268,7584,2158,1782,242,94,40,...,30.0,-79.8,592.3,-49.8,34.9,274.4,851.7,70.3,NaN,1005270
11,Billy Hamilton,- - -,1591,6268,7584,2158,1782,242,94,40,...,41.6,7.9,-32.0,49.4,4.0,68.8,90.3,9.5,$74.6,10199
12,Billy Hamilton,- - -,1591,6268,7584,2158,1782,242,94,40,...,30.0,-79.8,592.3,-49.8,34.9,274.4,851.7,70.3,NaN,1005270
13,Billy Hamilton,- - -,1591,6268,7584,2158,1782,242,94,40,...,41.6,7.9,-32.0,49.4,4.0,68.8,90.3,9.5,$74.6,10199
14,Billy Hamilton,Reds,577,2112,2323,519,399,74,27,19,...,30.0,-79.8,592.3,-49.8,34.9,274.4,851.7,70.3,NaN,1005270
15,Billy Hamilton,Reds,577,2112,2323,519,399,74,27,19,...,41.6,7.9,-32.0,49.4,4.0,68.8,90.3,9.5,$74.6,10199
16,Billy Hamilton,Reds,577,2112,2323,519,399,74,27,19,...,30.0,-79.8,592.3,-49.8,34.9,274.4,851.7,70.3,NaN,1005270
17,Billy Hamilton,Reds,577,2112,2323,519,399,74,27,19,...,41.6,7.9,-32.0,49.4,4.0,68.8,90.3,9.5,$74.6,10199
18,Dan Brouthers,- - -,1673,6711,7658,2296,1525,460,205,106,...,-14.0,-2.1,638.2,-16.1,38.3,276.5,936.9,79.5,NaN,1001486
19,Babe Ruth,- - -,2503,8398,10616,2873,1517,506,136,714,...,79.0,-97.6,1347.3,-18.6,47.9,325.2,1701.9,168.4,NaN,1011327
20,Dave Orr,- - -,791,3289,3411,1125,782,198,108,37,...,9.0,-0.4,209.4,8.6,18.9,122.6,359.6,31.0,NaN,1009848
21,Harry Heilmann,- - -,2148,7787,8960,2660,1784,542,151,183,...,-44.0,-85.1,519.2,-129.1,36.1,270.1,696.3,69.0,NaN,1005590
22,Pete Browning,- - -,1183,4820,5315,1646,1220,295,85,46,...,-17.0,-49.7,382.6,-66.7,29.8,190.2,535.9,45.5,NaN,1001554
23,Willie Keeler,- - -,2123,8591,9594,2932,2513,241,145,33,...,30.0,-108.5,345.0,-78.5,39.5,311.9,617.9,55.7,NaN,1006747
24,Bill Terry,Giants,1721,6428,7111,2193,1554,373,112,154,...,73.0,-68.9,356.5,4.1,11.6,224.1,596.4,57.0,NaN,1012927
25,George Sisler,- - -,2055,8267,9013,2812,2121,425,164,102,...,6.0,-79.6,262.8,-73.6,32.2,270.3,491.8,51.9,NaN,1012021
26,Lou Gehrig,Yankees,2164,8001,9660,2721,1531,534,163,493,...,2.0,-92.7,954.0,-90.7,50.2,304.0,1217.5,116.3,NaN,1004598
27,Jake Stenzel,- - -,766,3024,3412,1024,731,190,71,32,...,-24.0,-36.5,199.5,-60.5,16.8,127.6,283.3,21.5,NaN,1012485
28,Jesse Burkett,- - -,2066,8421,9605,2850,2273,320,182,75,...,-4.0,-115.4,512.2,-119.4,42.2,328.3,763.3,66.6,NaN,1001682
29,Tony Gwynn,Padres,2440,9288,10232,3141,2378,543,85,135,...,5.0,-97.2,401.5,-92.2,26.2,306.8,642.3,65.0,NaN,1005166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,Juan Marichal,- - -,464,1221,1339,202,167,29,2,4,...,0.0,99.3,-139.2,99.3,6.2,37.4,3.8,0.5,NaN,1008106
4180,Mel Harder,Indians,584,1203,1314,199,152,38,5,4,...,0.0,85.9,-167.8,85.9,6.6,40.2,-35.2,-3.4,NaN,1005339
4181,Fergie Jenkins,- - -,450,896,1010,148,102,27,6,13,...,0.0,74.8,-93.4,74.8,4.7,28.0,14.2,1.7,NaN,1006388
4182,Mark Baldwin,- - -,348,1155,1238,188,139,21,18,10,...,0.0,33.4,-122.2,33.4,7.3,44.6,-36.9,-3.1,NaN,1000484
4183,Rube Waddell,- - -,410,1066,1137,172,129,29,10,4,...,0.0,44.3,-96.3,44.3,4.2,33.3,-14.6,-1.7,NaN,1013467
4184,Guy Bush,- - -,533,888,1000,143,129,12,2,0,...,0.0,64.1,-129.0,64.1,1.6,31.5,-31.8,-3.1,NaN,1001752
4185,Ed Morris,- - -,317,1113,1157,179,144,18,16,1,...,0.0,33.1,-97.8,33.1,4.1,41.1,-19.5,-1.8,NaN,1009204
4186,John Smoltz,- - -,735,948,1167,151,118,26,2,5,...,0.0,118.7,-122.6,118.7,2.5,35.5,34.2,3.3,$3.9,115
4187,Stan Coveleski,- - -,451,1058,1187,168,131,26,10,1,...,0.0,54.5,-141.7,54.5,4.5,34.9,-47.8,-4.8,NaN,1002682
4188,Tommy John,- - -,451,900,1030,141,123,13,0,5,...,0.0,76.2,-109.1,76.2,1.7,28.8,-2.4,-0.3,NaN,1006515
4189,Joe Niekro,- - -,646,973,1165,152,124,26,1,1,...,0.0,93.7,-122.3,93.7,4.0,33.3,8.6,0.9,NaN,1009582
4190,Larry Jackson,- - -,599,1089,1192,170,140,22,6,2,...,0.0,87.5,-137.0,87.5,4.6,33.9,-11.1,-1.1,NaN,1006304
4191,Tom Seaver,- - -,580,1315,1552,202,157,28,5,12,...,0.0,117.3,-132.0,117.3,6.1,43.7,35.2,3.8,NaN,1011708
4192,Red Donahue,- - -,372,1150,1235,175,148,21,5,1,...,0.0,39.2,-155.2,39.2,5.5,40.1,-70.4,-6.6,NaN,1003373
4193,Bob Feller,Indians,570,1282,1485,193,144,28,13,8,...,0.0,102.4,-162.6,102.4,6.5,44.6,-9.1,-0.9,NaN,1003975
4194,Dazzy Vance,- - -,440,971,1112,146,115,23,1,7,...,0.0,67.4,-132.1,67.4,2.5,34.9,-27.3,-2.5,NaN,1013342
4195,Lefty Grove,- - -,619,1369,1579,202,155,27,5,15,...,0.0,103.6,-206.3,103.6,8.3,49.5,-44.9,-4.4,NaN,1005099
4196,Lefty Gomez,- - -,368,904,1024,133,122,11,0,0,...,0.0,69.0,-146.6,69.0,5.5,31.8,-40.3,-3.9,NaN,1004821
4197,Don Sutton,- - -,611,1354,1559,195,179,15,1,0,...,0.0,117.1,-178.1,117.1,6.2,43.9,-10.8,-1.2,NaN,1012745
4198,Danny MacFayden,- - -,465,910,1007,129,102,22,4,1,...,0.0,62.4,-141.2,62.4,3.5,31.8,-43.6,-4.1,NaN,1007904
4199,Earl Moore,- - -,388,949,1049,134,120,13,1,0,...,0.0,49.2,-115.9,49.2,4.2,30.7,-31.8,-3.3,NaN,1009103
4200,Red Ames,- - -,533,1014,1122,143,123,10,7,3,...,0.0,50.7,-112.2,50.7,4.2,31.2,-26.2,-2.9,NaN,1000210
4201,Steve Rogers,Expos,406,881,1045,122,112,8,2,0,...,0.0,83.2,-123.9,83.2,3.3,30.1,-7.4,-0.8,NaN,1011138
4202,Red Faber,White Sox,670,1269,1550,170,144,21,2,3,...,0.0,83.6,-162.0,83.6,6.6,46.6,-25.2,-2.5,NaN,1003889
4203,Gaylord Perry,- - -,510,1076,1220,141,118,17,0,6,...,0.0,91.1,-154.7,91.1,5.1,33.9,-24.5,-2.7,NaN,1010210
4204,Bill Doak,- - -,452,905,1008,115,94,15,5,1,...,0.0,48.9,-132.8,48.9,3.0,29.0,-51.9,-5.4,NaN,1003336
4205,Milt Pappas,- - -,527,1073,1174,132,96,13,3,20,...,0.0,86.8,-143.1,86.8,2.5,33.1,-20.7,-2.2,NaN,1009989
4206,Bob Friend,- - -,602,1137,1297,138,118,16,2,2,...,0.0,94.2,-193.6,94.2,3.4,37.7,-58.2,-6.2,NaN,1004355
4207,Jerry Koosman,- - -,431,915,1052,109,94,12,1,2,...,0.0,79.1,-140.6,79.1,4.1,29.6,-27.8,-3.0,NaN,1007103
4208,Mickey Lolich,- - -,477,821,1017,90,83,5,2,0,...,0.0,74.2,-107.8,74.2,0.5,28.1,-5.1,-0.6,NaN,1007712

In [45]:
playerID.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [31]:
teamsInfo.columns

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [50]:
salariesInfo.head(10)

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000
5    1985    ATL   NL  chambch01  800000
6    1985    ATL   NL  dedmoje01  150000
7    1985    ATL   NL  forstte01  483333
8    1985    ATL   NL  garbege01  772000
9    1985    ATL   NL  harpete01  250000

In [42]:
playerID_DF = pd.DataFrame(playerID)
teamsInfo_DF = pd.DataFrame(teamsInfo)
salariesInfo_DF = pd.DataFrame(salariesInfo)

In [83]:
salariesInfo_DF.groupby(["playerID", "teamID"], as_index=False).count()

        playerID teamID  yearID  lgID  salary
0      aardsda01    BOS       1     1       1
1      aardsda01    CHA       1     1       1
2      aardsda01    NYA       1     1       1
3      aardsda01    SEA       3     3       3
4      aardsda01    SFN       1     1       1
5       aasedo01    BAL       3     3       3
6       aasedo01    NYN       1     1       1
7       abadan01    CIN       1     1       1
8       abadfe01    HOU       2     2       2
9       abadfe01    MIN       1     1       1
10      abadfe01    OAK       2     2       2
11     abbotje01    CHA       3     3       3
12     abbotje01    FLO       1     1       1
13     abbotji01    CAL       5     5       5
14     abbotji01    CHA       1     1       1
15     abbotji01    MIL       1     1       1
16     abbotji01    NYA       2     2       2
17     abbotku01    ATL       1     1       1
18     abbotku01    COL       1     1       1
19     abbotku01    FLO       4     4       4
20     abbotku01    NYN       1     1       1
21     abbotku01    OAK       2     2       2
22     abbotky01    PHI       2     2       2
23     abbotpa01    MIN       2     2       2
24     abbotpa01    SEA       4     4       4
25     abbotpa01    TBA       1     1       1
26     abercre01    FLO       1     1       1
27     abernbr01    TBA       2     2       2
28     abnersh01    CHA       1     1       1
29     abnersh01    SDN       4     4       4
...          ...    ...     ...   ...     ...
11496   zaungr01    TOR       4     4       4
11497  zeileto01    COL       1     1       1
11498  zeileto01    LAN       2     2       2
11499  zeileto01    NYA       1     1       1
11500  zeileto01    NYN       3     3       3
11501  zeileto01    PHI       1     1       1
11502  zeileto01    SLN       7     7       7
11503  zeileto01    TEX       1     1       1
11504  zerbech01    SFN       1     1       1
11505  zieglbr01    ARI       5     5       5
11506  zieglbr01    OAK       3     3       3
11507  zimmeje02    TEX       6     6       6
11508  zimmejo01    WAS       1     1       1
11509  zimmejo02    DET       1     1       1
11510  zimmejo02    WAS       5     5       5
11511  zimmery01    WAS      10    10      10
11512   ziskri01    SEA       3     3       3
11513   zitoba01    OAK       6     6       6
11514   zitoba01    SFN       7     7       7
11515  zobribe01    CHN       1     1       1
11516  zobribe01    OAK       1     1       1
11517  zobribe01    TBA       8     8       8
11518  zoskyed01    TOR       1     1       1
11519  zuberjo01    PHI       1     1       1
11520  zuletju01    CHN       1     1       1
11521  zumayjo01    DET       6     6       6
11522  zuninmi01    SEA       2     2       2
11523  zupcibo01    BOS       3     3       3
11524  zuvelpa01    ATL       1     1       1
11525   zychto01    SEA       1     1       1

[11526 rows x 5 columns]

In [88]:
third_merge = pd.merge(salariesInfo_DF, playerID_DF, on="playerID", how="left")
third_merge.head()

,yearID,teamID,lgID,playerID,salary,birthYear,birthMonth,birthDay,birthCountry,birthState,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,1985,ATL,NL,barkele01,870000,1955.0,7.0,7.0,USA,KY,...,Barker,Leonard Harold,225.0,77.0,R,R,1976-09-14,1987-09-26,barkl001,barkele01
1,1985,ATL,NL,bedrost01,550000,1957.0,12.0,6.0,USA,MA,...,Bedrosian,Stephen Wayne,200.0,75.0,R,R,1981-08-14,1995-08-09,bedrs001,bedrost01
2,1985,ATL,NL,benedbr01,545000,1955.0,8.0,18.0,USA,AL,...,Benedict,Bruce Edwin,175.0,73.0,R,R,1978-08-18,1989-09-11,beneb001,benedbr01
3,1985,ATL,NL,campri01,633333,1953.0,6.0,10.0,USA,GA,...,Camp,Rick Lamar,195.0,73.0,R,R,1976-09-15,1985-10-05,campr001,campri01
4,1985,ATL,NL,ceronri01,625000,1954.0,5.0,19.0,USA,NJ,...,Cerone,Richard Aldo,192.0,71.0,R,R,1975-08-17,1992-07-10,ceror001,ceronri01

In [90]:
third_merge.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary', 'birthYear',
       'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity',
       'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState',
       'deathCity', 'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height',
       'bats', 'throws', 'debut', 'finalGame', 'retroID', 'bbrefID'],
      dtype='object')

In [49]:
salariesInfo_DF.shape

(26428, 5)

In [92]:
teamsInfo_DF.columns

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [93]:
fourth_merge = pd.merge(third_merge, teamsInfo_DF, on=["yearID", "teamID"], how="left")
fourth_merge.head()

,yearID,teamID,lgID_x,playerID,salary,birthYear,birthMonth,birthDay,birthCountry,birthState,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1985,ATL,NL,barkele01,870000,1955.0,7.0,7.0,USA,KY,...,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106,ATL,ATL,ATL
1,1985,ATL,NL,bedrost01,550000,1957.0,12.0,6.0,USA,MA,...,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106,ATL,ATL,ATL
2,1985,ATL,NL,benedbr01,545000,1955.0,8.0,18.0,USA,AL,...,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106,ATL,ATL,ATL
3,1985,ATL,NL,campri01,633333,1953.0,6.0,10.0,USA,GA,...,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106,ATL,ATL,ATL
4,1985,ATL,NL,ceronri01,625000,1954.0,5.0,19.0,USA,NJ,...,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106,ATL,ATL,ATL

In [94]:
fourth_merge.columns

Index(['yearID', 'teamID', 'lgID_x', 'playerID', 'salary', 'birthYear',
       'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity',
       'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState',
       'deathCity', 'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height',
       'bats', 'throws', 'debut', 'finalGame', 'retroID', 'bbrefID', 'lgID_y',
       'franchID', 'divID', 'Rank', 'G', 'Ghome', 'W', 'L', 'DivWin', 'WCWin',
       'LgWin', 'WSWin', 'R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB',
       'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'SV', 'IPouts', 'HA',
       'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP', 'name', 'park', 'attendance',
       'BPF', 'PPF', 'teamIDBR', 'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [95]:
fourth_merge_reduced = fourth_merge.loc[:,['yearID', 'teamID', 'lgID_x', 'playerID', 'salary', 'birthYear',
       'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity',
       'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState',
       'deathCity', 'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height',
       'bats', 'throws', 'debut', 'finalGame', 'retroID', 'bbrefID',
       'franchID', 'divID', 'Rank', 'G', 'Ghome', 'W', 'L', 'DivWin', 'WCWin',
       'LgWin', 'WSWin', 'R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB',
       'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'SV', 'IPouts', 'HA',
       'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP', 'name', 'park', 'attendance',
       'BPF', 'PPF']]

In [96]:
fourth_merge_reduced.rename(columns={"lgID_x": "lgID"}, inplace=True)
fourth_merge_reduced.head()

,yearID,teamID,lgID,playerID,salary,birthYear,birthMonth,birthDay,birthCountry,birthState,...,BBA,SOA,E,DP,FP,name,park,attendance,BPF,PPF
0,1985,ATL,NL,barkele01,870000,1955.0,7.0,7.0,USA,KY,...,642,776,159,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106
1,1985,ATL,NL,bedrost01,550000,1957.0,12.0,6.0,USA,MA,...,642,776,159,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106
2,1985,ATL,NL,benedbr01,545000,1955.0,8.0,18.0,USA,AL,...,642,776,159,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106
3,1985,ATL,NL,campri01,633333,1953.0,6.0,10.0,USA,GA,...,642,776,159,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106
4,1985,ATL,NL,ceronri01,625000,1954.0,5.0,19.0,USA,NJ,...,642,776,159,197,0.976,Atlanta Braves,Atlanta-Fulton County Stadium,1350137.0,105,106

In [11]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [ ]:
inspectorinspect  = inspect(engine)
inspector.get_table_names()